<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	
>

<h:outputScript library="js"
	name="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
/>
<h:outputScript library="js" name="js/kickstart" />



<ui:composition template="/WEB-INF/templates/main.xhtml">
	





	<ui:define name="menu">
		<li class="current"><a href="index.jsf">Home</a></li>
		<li><a href="profil.jsf">Profil</a></li>
		<li><a href="kategorien.jsf">Kategorien</a></li>
		<li><a href="toplist.jsf">Toplist</a></li>
		<li><a href="casino.jsf">Casino</a></li>
		<li><a href="fanclubs.jsf">Fanclubs</a></li>
		<li><a href="chatrooms.jsf">Chatrooms</a></li>
		<li><a href="maps.jsf">Maps</a></li>
	</ui:define>


	<!-- den Bereich Content in dem Template überschreiben. -->

	<ui:define name="content">


			
		<h:outputLabel style="bold">Error!</h:outputLabel>


		
			
		


	</ui:define>

</ui:composition>
</html>