<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
>
<h:head>
	<title>Default title</title>
	<!-- Lokalisierung laden -->


	<link rel="stylesheet" type="text/css" href="resources/css/main.css"
		media="all"
	/>

<script type="text/javascript" src="resources/js/util.js"></script>







	<div id="header">

		<!-- Header -->



		<ui:insert name="userlogin">

			<h:form rendered="#{loginHandler.loggedin != true}">

				<h:outputLabel value="E-Mail: " style="font-weight:bold" />
				<h:inputText value="#{loginHandler.email}" />
				<h:outputLabel value="Password: " style="font-weight:bold" />
				<h:inputSecret value="#{loginHandler.pass}" />
				<h:commandButton value="Login" action="#{loginHandler.login}" />
				<h:commandButton value="Register" action="registrierung" />
			</h:form>

			<h:form rendered="#{loginHandler.loggedin == true}">
				<h:outputLabel value="Willkommen #{loginHandler.data} "
					style="font-weight:bold"
				/>
				<h:commandButton value="Logout" action="#{loginHandler.logout}" />
			</h:form>
		</ui:insert>

	</div>




	<div id="navigation">

		<!-- Menu Vertical Left -->

		<ul class="navi">
			<ui:insert name="menu">
				<li><a href="index.jsf">Home</a></li>
				<li><a href="profil.jsf">Profil</a></li>
				<li><a href="kategorien.jsf">Kategorien</a></li>
				<li><a href="toplist.jsf">Toplist</a></li>
				<li><a href="casino.jsf">Casino</a></li>
				<li><a href="fanclubs.jsf">Fanclubs</a></li>
				<li><a href="chatrooms.jsf">Chatrooms</a></li>
				<li><a href="maps.jsf">Maps</a></li>
			</ui:insert>
		</ul>


	</div>

	<div id="tabs">

		<ul class="tabss left">

			<ui:repeat var="tab" value="#{tabs.tabs}">

				<li class="#{tabs.getCurrent(tab,param.tab)}"><a
					href="?tab=#{tab}"
				>#{tab}</a></li>

			</ui:repeat>

		</ul>
	</div>

</h:head>
<h:body>


	<!-- </div> -->
	<div id="content_container">
		<div id="content">
			
<h:form id="form">  
  
    <p:panel style="height: auto; width: 0px;visibility:hidden; ">  
          
 
            <p:colorPicker id="inlineCP" value="#{colorBean.color}" mode="popup" style="height: auto; width: auto;visibility:visible;" />  
			<p:colorPicker id="inlineCP2" value="#{colorBean.color2}" mode="popup" style="height: auto; width: auto;visibility:visible;" /> 
          
  
        
  
        <p:commandButton value="Submit"  update="grid @parent" style="height: auto; width: auto;visibility:visible;" />  
    </p:panel>  
  
  
        <h:panelGrid columns="2" id="grid">  
            <h:outputText value="Color 1: " />  
            <h:outputText value="#{colorBean.color}" style="background-color:\##{colorBean.color}"/>  

  
        </h:panelGrid>  
  		<h:link value="SetStyle" onsubmit="setStyle()" onclick="setStyle()"></h:link>
  
</h:form>   


		</div>

		<div id="footer">
			<p class="zentriert">
				<a href="impressum.jsf">Impessum</a> <a href="kontakt.jsf">Kontakt</a>
			</p>
		</div>
	</div>



</h:body>

</html>
