<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core">
     <h:outputScript library="js" name="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
	 <h:outputScript library="js" name="js/kickstart" />

 

<ui:composition template="/WEB-INF/templates/main.xhtml">

     <!-- den Bereich Content in dem Template überschreiben. -->
     <ui:define name="content">

  		<p class="zentriert">
  		<b>Klaus Peter</b><br></br>
  		Teststrasse 3<br></br>
  		23872 Berlin</p>

     </ui:define>

</ui:composition>
</html>