<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">




<ui:composition template="/WEB-INF/templates/main.xhtml">

	<ui:define name="menu">
		<li class="current"><a href="index.jsf">Home</a></li>
		<li><a href="profil.jsf">Profil</a></li>
		<li><a href="kategorien.jsf">Kategorien</a></li>
		<li><a href="toplist.jsf">Toplist</a></li>
		<li><a href="casino.jsf">Casino</a></li>
		<li><a href="fanclubs.jsf">Fanclubs</a></li>
		<li><a href="chatrooms.jsf">Chatrooms</a></li>
		<li><a href="maps.jsf">Maps</a></li>
	</ui:define>


	<!-- den Bereich Content in dem Template überschreiben. -->


	<ui:define name="content" >



		<ui:fragment>


			<!-- Slideshow -->
			<ui:repeat value="#{loginHandler.images}" var="image" width="800"
				height="513">
				<p:graphicImage
					value="/resources/user/#{loginHandler.guid}/#{image}" width="500px"
					height="500px" />
			</ui:repeat>







		</ui:fragment>


		<ui:fragment>


			<h:form id="chat_control">
				<h:panelGrid style="height: 130px; width: 800px; ">
					<f:facet name="header">

						<h:inputText id="jo" value="#{chat.text}"></h:inputText>

						<h:commandButton value="Submit">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
						<h:commandButton value="Clear" action="#{chat.clear}">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>


					</f:facet>


				</h:panelGrid>

			</h:form>
			<h:form enctype="multipart/form-data">
				<h:inputFile id="file" value="#{loginHandler.file}"
					validator="#{loginHandler.validateFile}" />

				<h:commandButton value="Upload" action="#{loginHandler.upload}">
				</h:commandButton>
				<h:message errorStyle="color:red; padding: 5mm;display: block;"
					for="file" />
			</h:form>
			<h:form id="chat">
				<h:commandLink id="reload" immediate="true" value="">


					<p>
						<h:outputText value="#{chat.history}"></h:outputText>
					</p>
					<f:ajax execute="@form" render="@form" />
				</h:commandLink>
			</h:form>

			<script>
				myFunction('#{chat.history}');
			</script>

		</ui:fragment>


	</ui:define>
</ui:composition>
</html>