<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">





<ui:composition template="/WEB-INF/templates/main.xhtml">


	<ui:define name="menu">
		<li><a href="index.jsf">Home</a></li>
		<li class="current"><a href="profil.jsf">Profil</a></li>
		<li2> <a href="index.jsf">Übersicht</a></li2>
		<li2> <a href="index.jsf">Einstellung</a></li2>
		<li><a href="kategorien.jsf">Kategorien</a></li>
		<li><a href="toplist.jsf">Toplist</a></li>
		<li><a href="casino.jsf">Casino</a></li>
		<li><a href="fanclubs.jsf">Fanclubs</a></li>
		<li><a href="chatrooms.jsf">Chatrooms</a></li>
		<li><a href="maps.jsf">Maps</a></li>

	</ui:define>

	<!-- den Bereich Content in dem Template überschreiben. -->
	<ui:define name="content" rendered="#{loginHandler.loggedin == true}">
		<h:form>

			<p:panel header="Profilbild">
			<h:graphicImage value="/resources/img/#{loginHandler.profilbild}" ></h:graphicImage>
			</p:panel>



			<p:panel header="Masks">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputText value="Name: " />
					<p:inputText value="#{loginHandler.nachname}" />

					<h:outputText value="Vorname: " />
					<p:inputText value="#{loginHandler.vorname}" />

					<h:outputText value="Geburtstag: " />
					<p:calendar value="#{loginHandler.geburtstag}" mode="inline"
						locale="de" yearRange="c-50:c+60" pagedate="true" navigator="true"
						id="geb" required="true">
						<f:convertDateTime pattern="dd.MM.yyyy" />

						
						
					</p:calendar>

					<h:outputText value="Land: " />
					<p:inputText value="#{loginHandler.land}" />

					<h:outputText value="Geschlecht: " />
					<p:selectOneRadio value="#{loginHandler.geschlecht}" id="geschl">

						<f:selectItem itemLabel="m" itemValue="m" />
						<f:selectItem itemLabel="w" itemValue="w" />

					</p:selectOneRadio>




					<p:commandButton value="Submit" ajax="false" immediate="false"
						actionListener="#{loginHandler.update}"
						oncomplete="PF('dlg').show()" />

				</h:panelGrid>
			</p:panel>
			<p:dialog widgetVar="dlg" modal="false">


				<h:outputText value="Daten gespeichert! " />





			</p:dialog>

		</h:form>

	</ui:define>

</ui:composition>
</html>