<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

	<script type="text/javascript" src="resources/js/kickstart.js"></script>
	<script type="text/javascript" src="resources/js/util.js"></script>
	<link rel="stylesheet" type="text/css"
		href="resources/css/kickstart.css" media="all" />

	<link rel="stylesheet" type="text/css" href="resources/css/style.css"
		media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />
	<link rel="stylesheet" type="text/css" href="resources/css/main.css"
		media="all" />

	<div id="header">

		<!-- Header -->



		<ui:insert name="userlogin">

			<h:form rendered="#{loginHandler.loggedin != true}">

				<h:outputLabel value="E-Mail: " style="font-weight:bold" />
				<h:inputText value="#{loginHandler.email}" />
				<h:outputLabel value="Password: " style="font-weight:bold" />
				<h:inputSecret value="#{loginHandler.pass}" />
				<h:commandButton value="Login" action="#{loginHandler.login}" />
				<h:commandButton value="Register" action="registrierung" />
			</h:form>

			<h:form rendered="#{loginHandler.loggedin == true}">
				<h:outputLabel value="Willkommen #{loginHandler.data} "
					style="font-weight:bold" />
				<h:commandButton value="Logout" action="#{loginHandler.logout}" />
			</h:form>
		</ui:insert>
		<h:form id="form">





			<h:selectOneMenu id="city" value="#{themeSwitcherBean.theme}"
				style="margin: 5mm;" required="true">
				<f:selectItem itemLabel="Select One" itemValue="" />
				<f:selectItems value="#{themeSwitcherBean.themes}" />
				<p:ajax process="@all" />
			</h:selectOneMenu>
			<h:commandButton value="Set Theme" action="#" style="margin: 5mm;" />


		</h:form>
	</div>




	<div id="navigation">

		<!-- Menu Vertical Left -->

		<ul class="navi">
			<ui:insert name="menu">
				<li><a href="index.jsf">Home</a></li>
				<li><a href="profil.jsf">Profil</a></li>
				<li><a href="kategorien.jsf">Kategorien</a></li>
				<li><a href="toplist.jsf">Toplist</a></li>
				<li><a href="casino.jsf">Casino</a></li>
				<li><a href="fanclubs.jsf">Fanclubs</a></li>
				<li><a href="chatrooms.jsf">Chatrooms</a></li>
				<li><a href="maps.jsf">Maps</a></li>
			</ui:insert>
		</ul>


	</div>

	<div id="tabs">

		<ul class="tabss left">

			<ui:repeat var="tab" value="#{tabs.tabs}">

				<li class="#{tabs.getCurrent(tab,param.tab)}"><a
					href="?tab=#{tab}">#{tab}</a></li>

			</ui:repeat>

		</ul>
	</div>

</h:head>

<h:body>
	<div id="content_container">
		<div id="content">





			<!-- den Bereich Content in dem Template überschreiben. -->

			<h:form id="register" rendered="#{loginHandler.loggedin == false}">
				<p:panelGrid columns="2" style="width: 70%;" id="pan">
					<f:facet name="header">  
        				Register 
   					</f:facet>

					<p:row>
						<h:outputLabel value="Name:* " style="font-weight:bold" />
					</p:row>
					<p:row>

						<h:inputText id="name" value="#{loginHandler.nachname}"
							required="true" requiredMessage="Feld ist erforderlich!"
							size="35">
							<f:validateLength minimum="2" maximum="25" />
						</h:inputText>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="name" />
					</p:row>





					<p:row>
						<h:outputLabel value="Vorname:* " style="font-weight:bold" />
					</p:row>
					<p:row>
						<h:inputText id="vorname" value="#{loginHandler.vorname}"
							required="true" requiredMessage="Feld ist erforderlich!"
							size="35">
							<f:validateLength minimum="2" maximum="25" />
						</h:inputText>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="vorname" />
					</p:row>




					<p:row>
						<h:outputLabel value="Geburtstag:*" style="font-weight:bold" />
					</p:row>
					<p:row id="cal">
						<p:calendar value="#{loginHandler.geburtstag}" mode="inline"
							locale="de" yearRange="c-50:c+60" pagedate="true"
							navigator="true" id="geb" required="true">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:calendar>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="geb" />
					</p:row>



					<p:row>
						<h:outputLabel value="Land:* " style="font-weight:bold" />
					</p:row>
					<p:row>
						<h:inputText id="land" value="#{loginHandler.land}"
							required="true" requiredMessage="Feld ist erforderlich!"
							size="35">
							<f:validateLength minimum="2" maximum="45" />
						</h:inputText>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="land" />
					</p:row>

					<p:row>
						<h:outputLabel value="Geschlecht:* " style="font-weight:bold" />
					</p:row>
					<p:row>
			 
        <p:selectOneRadio value="#{loginHandler.geschlecht}" id="geschl">  
 
            <f:selectItem itemLabel="m" itemValue="m" />  
            <f:selectItem itemLabel="w" itemValue="w" />  

        </p:selectOneRadio>  
				
					</p:row>

					<p:row>
						<h:outputLabel value="Password:* " style="font-weight:bold" />
					</p:row>
					<p:row>
						<h:inputSecret id="pass" value="#{loginHandler.pass}"
							required="true" requiredMessage="Feld ist erforderlich!"
							size="35">
							<f:validateLength minimum="6" maximum="55" />
						</h:inputSecret>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="pass" />
					</p:row>


					<p:row>
						<h:outputLabel value="E-Mail:* " style="font-weight:bold" />
					</p:row>
					<p:row>
						<h:inputText id="email" value="#{loginHandler.email}"
							required="true" requiredMessage="Feld ist erforderlich!"
							validator="#{adduser.validateUser}" size="35">
							<f:validateLength minimum="5" maximum="55" />
						</h:inputText>
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="email" />
					</p:row>





					<p:row>

						<p:captcha id="cap" label="Captcha" />

					</p:row>
					<p:row>
						<!-- 						<p:commandButton id="captcha" value="Check" ajax="false" -->
						<!-- 							actionListener="#{loginHnadler.checkcaptcha}" /> -->
						<h:message
							errorStyle="color:black; padding: 1mm; margin: 5mm; background-color: #ff8f8f; border: 1px solid #f77b7b;border-radius: 5px;"
							for="register:cap" />


					</p:row>

					<f:facet name="footer">
						<h:commandButton id="register" value="Register"
							styleClass="medium green" action="#{loginHandler.newUser}">

						</h:commandButton>
					</f:facet>
				</p:panelGrid>
			</h:form>

		</div>

		<div id="footer">
			<p class="zentriert">
				<a href="impressum.jsf">Impessum</a> <a href="kontakt.jsf">Kontakt</a>
			</p>
		</div>
	</div>




</h:body>
</html>