<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
   <title>Upload</title>
</h:head>
<h:body>
 
  
 <h:form id="form">  
  
    <h:panelGrid columns="2" cellpadding="10">  


        
              <h:selectOneMenu id="city" value="#{themeSwitcherBean.theme}" required="true">  
                <f:selectItem itemLabel="Select One" itemValue="" />  
                <f:selectItems value="#{themeSwitcherBean.themes}" />  
                  <p:ajax process="@all" update="@all"  
                         />  
            </h:selectOneMenu> 
     
 
    </h:panelGrid>  
  
    <p:separator />  
  
    <p:dialog header="Dialog" widgetVar="dlg" minHeight="40" modal="true">  
        <h:outputText value="Resistance to PrimeFaces is futile!" />  
    </p:dialog>     
  
    <br />  
  
    <p:commandButton value="Dialog"  type="button"/>  
  
    <br /><br />  
  
    <p:panel header="Panel">  
        Panel Content  
    </p:panel>  
  
    <br />  
  
    <p:toolbar>  
        <p:toolbarGroup align="left">  
            <p:commandButton type="button" value="New" icon="ui-icon-document" />  
  
            <p:commandButton type="button" value="Open" icon="ui-icon-folder-open"/>  
  
            <p:separator />  
  
            <p:commandButton type="button" title="Save" icon="ui-icon-disk"/>  
            <p:commandButton type="button" title="Delete" icon="ui-icon-trash"/>  
            <p:commandButton type="button" title="Print" icon="ui-icon-print"/>  
        </p:toolbarGroup>  
  
        <p:toolbarGroup align="right">  
            <p:menuButton value="Navigate">  
                <p:menuitem value="Home" url="http://www.primefaces.org" />  
                <p:menuitem value="ShowCase" url="http://www.primefaces.org/showcase" />  
                <p:menuitem value="TouchFaces" url="http://www.primefaces.org/showcase/touch" />  
            </p:menuButton>  
        </p:toolbarGroup>  
  
    </p:toolbar>  
  
    <br />  
  
    <p:tabView>  
        <p:tab title="Tab1">Tab1 Content</p:tab>  
        <p:tab title="Tab2">Tab2 Content</p:tab>  
        <p:tab title="Tab3">Tab3 Content</p:tab>  
    </p:tabView>  
  
</h:form>
  
</h:body>
</html>