#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5cm;
	z-index: 9;
	background-image: url(../img/header.png);
	background-color:orange;
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#navigation {
	position: absolute;
	top: 5cm;
	left: 0px;
	width: 5cm;
	height: auto;
	z-index: 7;
}

#tabs {
	position: absolute;
	top: 5cm;
	left: 5cm;
	right: 0cm;
	width: auto;
	min-height: 1%;
	height: auto;
	z-index: 3;
	
}

#content_container {
	position: absolute;
	top: 3.5cm;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	height: auto;
	z-index: 2;
    border: 0px solid blue;
    
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 191, 000, 1) 0%,rgba(194, 194, 194, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 191, 000, 1)), color-stop(100%, rgba(194, 194, 194, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 191, 000, 1) 0%,rgba(194, 194, 194, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 191, 000, 1) 0%,rgba(194, 194, 194, 1) 100%); /* Opera11.10+ */
	background: linear-gradient(top, rgba(255, 191, 000, 1) 0%,rgba(194, 194, 194, 1) 100%); /* W3C */	
}


#content {
	position: relative;
	padding-left: 6cm;
	padding-top: 3cm;
	padding-bottom: 3cm;
	width: auto;
	min-width: 50%;
	min-height: 85%;
	height: auto;
	z-index: 3;
	border: 0px solid black;
	 overflow : auto;
}

html, body {
height: 100%;
background-color:  red;
padding: 0px; margin: 0px;
}



#footer {
position: absolute;
bottom: -2cm;
width: 100%;
line-height: 1.5em;
text-align: center;
background: #8B8878;
bottom: 0; left: 0;
background: #eee; /* Old browsers */
background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,252, 252, 1)), color-stop(100%, rgba(224, 224, 224, 1)));
	/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* Opera11.10+ */
background: linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* W3C */
color: grey;
}

#header img {
	height: 100%;
	width: 100%
}

.zentriert {
	text-align: center;
}

ul.navi {
	list-style: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: 1px solid silver;
	border-radius: 0px;
	background-color: grey;
	text-align: center;
}

ul.navi li {
	list-style: none;
	margin: 0em;
	padding: 0em;
}

ul.navi li a {
	display: block;
	padding: 2mm;
	text-decoration: none;
	font-weight: bold;
	border: 0px solid black;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(224, 224, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		252, 252, 1)), color-stop(100%, rgba(224, 224, 224, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(224, 224, 224, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(224, 224, 224, 1) 100%); /* Opera11.10+ */
	background: linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(224, 224, 224, 1) 100%); /* W3C */
	color: grey;
}

ul.navi li2 {
	list-style: none;
	margin: 0em;
	padding: 0em;
}

ul.navi li2 a {
	padding: 2mm;
	border: 0px solid black;
	background-color: white;
	text-align: center;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.navi * a:hover,a:active {
	background: rgb(122, 188, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122, 188, 255, 1) 0%,
		rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122,
		188, 255, 1)), color-stop(44%, rgba(96, 171, 248, 1)),
		color-stop(100%, rgba(64, 150, 238, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%,
		rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122, 188, 255, 1) 0%,
		rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
	/* Opera11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7abcff',
		endColorstr='#4096ee', GradientType=0); /* IE6-9 */
	background: linear-gradient(top, rgba(122, 188, 255, 1) 0%,
		rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* W3C */
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/*---------------------------------
	TABS
-----------------------------------*/
ul.tabss{
margin:0px 0 1px 0;
padding:0;
width:100%;
border-bottom:2px solid grey;
float:left;
font-size:0;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,252, 252, 1)), color-stop(100%, rgba(224, 224, 224, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* Opera11.10+ */
	background: linear-gradient(top, rgba(252, 252, 252, 1) 0%,rgba(224, 224, 224, 1) 100%); /* W3C */
	color: grey;

}

	ul.tabss.left{text-align:left;}
	ul.tabss.center{text-align:center;}
	ul.tabss.right{text-align:right;}
	ul.tabss.right li{margin:0 0 0 -2px;}

	ul.tabss li{
	font-size:14px;
	list-style-type:none;
	margin:5px 2px 0 0;
	padding:0;
	display:inline-block;
	*display:inline;/*IE ONLY*/
	position:relative;
	top:0;
	left:0;
	*top:1px;/*IE 7 ONLY*/
	zoom:1;
	}
	
	ul.tabss li a{
	text-decoration:none;
	color:#666;
	display:inline-block;
	padding:9px 15px;
	position: relative;
	top:0;
	left:0;
	line-height:100%;
	background:#f5f5f5;
	-webkit-box-shadow: inset 0px -3px 3px rgba(0,0,0,0.03);
	-moz-box-shadow: inset 0px -3px 3px rgba(0,0,0,0.03);
	box-shadow: inset 0px -3px 3px rgba(0,0,0,0.03);
	border:1px solid #01DF01;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom:0;
	font-size:0.9em;
	zoom:1;
	}
	
	ul.tabss li a:hover{
	background:#fff;
	}
	
	ul.tabss li.current a{
	position:relative;
	top:2px;
	left:0;
	background:#fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:1px solid red;
	color:#222;
	}
	
	.tab-content{
	border:1px solid #efefef;
	border:1px solid #e5e5e5;
	background:#fff;
	clear:both;
	padding:40px;
	margin:0 0 40px 0;
	}
	